/*keon:480x320 */


		
		
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/



body {
	  background-image: url("../pic/bg_0_low.jpg"); 
	   height: 100%;
	  overflow:hidden;
	
	
	}
	
	
#csap {
	position: absolute;
	left: 200px;
	top: 210px;
	z-index: 2;
	height: 100px;
	width: 100px;


}

#a0{
	position: absolute;
	top: -200px;
	left: 400px;
	}

#info_button{
	position: absolute;
	top: 270px;
	left: 10px;	
	}
	
#start_button{
	position: absolute;
	top: 110px;
	left: 190px;
//	height: 100px;
//	width: 100px;	
	}
	
	#version_button{
	position: absolute;
	top: 270px;
	left: 420px;	
	}
	
	
	
#end_div{
visibility:hidden;
position: absolute;
top: 0px;
left: 0px;
z-index: 30;
width: 480px;
height: 320px;
	opacity:0.8;
background-color: #444444;
	}	
	
	
	#info_div{
visibility:hidden;
position: absolute;
top: 0px;
left: 0px;
z-index: 30;
width: 480px;
height: 320px;
	opacity:0.8;
background-color: #444444;
	}	
	
	
	#version_div{
visibility:hidden;
position: absolute;
top: 0px;
left: 0px;
z-index: 30;
width: 480px;
height: 320px;
	opacity:0.8;
background-color: #444444;
	}	
	
	
h1.version{
	opacity: 1;
text-align:center;
color:#00fff0;	
	}
	
h4.version{
	opacity: 1;
text-align:center;
color:#00ff50;	
	}
	
h5.version{
	opacity: 1;
text-align:center;
color:#00ff50;	
	}
	
img.version{
	opacity: 1;
		position: absolute;
	top: 60px;
	left: 215px;

	
	}
	
	
h4.center{
	opacity: 1;
text-align:center;
color:#00ff50;	
	}
	
h5.info{
	opacity: 1;
text-align:center;
color:#00ff50;	
	}
	
h4.info{
	opacity: 1;
text-align:center;
color:#00ff50;	
	}
	
	
img.info{
	opacity: 1;
		position: absolute;
	top: 270px;
	left: 215px;
}	
	
	
/* trash --------------------------------------------------------------------------------------------------------*/

	#wool{
	position: absolute;
	top: -100px;
	left: 0px;
	}
	
	#paper{
	position: absolute;
	top: -100px;
	left: 30px;
	}
	
	#bottle{
	position: absolute;
	top: -100px;
	left: 90px;
	}
	
	#milk{
	position: absolute;
	top: -100px;
	left: 120px;
	}
	
	#plastic{
	position: absolute;
	top: -100px;
	left: 180px;
	}
	
	#nylon{
	position: absolute;
	top: -100px;
	left: 250px;
	}
	
	#can{
	position: absolute;
	top: -100px;
	left: 300px;
	}
	
	/*counter ---------------------------------------------------------------------------------------------------*/
	
	#counter{
	position: absolute;
	top: 0px;
	left: 20px;
	color: #00ff00;
	font-size: 20px;
	font-weight: 900;
	opacity:0.9;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	}

#counter_pre{
	position: absolute;
	top: -20px;
	left: 20px;
	color: #f0ff00;
	font-size: 20px;
	font-weight: 900;
	opacity:0.8;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	}
	
	
	
/*end scenario-----------------------------------------------------------------------------------------------*/



#wool_end{
	position: absolute;
	top: 50px;
	left: 10px;
	}
	
	#paper_end{
	position: absolute;
	top: 50px;
	left: 130px;
	}
	
	#bottle_end{
	position: absolute;
	top: 50px;
	left: 250px;
	}
	
	#milk_end{
	position: absolute;
	top: 50px;
	left: 370px;
	}
	
	#plastic_end{
	position: absolute;
	top: 170px;
	left: 10px;
	}
	
	#nylon_end{
	position: absolute;
	top: 170px;
	left: 150px;
	}
	
	#can_end{
	position: absolute;
	top: 170px;
	left: 250px;
	}
	
	#res_end{
	position: absolute;
	top: 180px;
	left: 370px;
	}
	
	
	
	#wool_tit{
	position: absolute;
	top: -10px;
	left: 10px;
	color:#00ff50;	
	}
	
	#paper_tit{
	position: absolute;
	top: -10px;
	left: 130px;
	color:#00ff50;	
	}
	
	#bottle_tit{
	position: absolute;
	top: -10px;
	left: 250px;
	color:#00ff50;	
	}
	
	#milk_tit{
	position: absolute;
	top: -10px;
	left: 370px;
	color:#00ff50;	
	}
	
	#plastic_tit{
	position: absolute;
	top: 110px;
	left: 10px;
	color:#00ff50;	
	}
	
	#nylon_tit{
	position: absolute;
	top: 110px;
	left: 150px;
color:#00ff50;	
	}
	
	#can_tit{
	position: absolute;
	top: 110px;
	left: 250px;
	color:#00ff50;	
	}
	
	#res_tit{
	position: absolute;
	top: 120px;
	left: 370px;
	color:#00ff50;	
		font-size: 20px;
	}
	
	
	#score_tit{
	position: absolute;
	top: 230px;
	left: 20px;
	color:#00ff00;
		font-size: 30px;
	}
	
	
	#score_count_tit{
	position: absolute;
	top: 230px;
	left: 300px;
	color:#f0ff00;
		font-size: 35px;
	}
	
	/*title-------------------------------------------------------------------------------------------*/
	
	
#can_div{
visibility:hidden;
position: absolute;
top: 0px;
left: 0px;
width: 480px;
height: 320px;
	opacity:0.8;
background-color: #444444;
	color:#f0ff00;
	text-align:center;
	}	
	
	#wool_div{
visibility:hidden;
position: absolute;
top: 0px;
left: 0px;
width: 480px;
height: 320px;
	opacity:0.8;
background-color: #444444;
	color:#f0ff00;
	text-align:center;
	}	
	
	#paper_div{
visibility:hidden;
position: absolute;
top: 0px;
left: 0px;
width: 480px;
height: 320px;
	opacity:0.8;
	color:#f0ff00;
	text-align:center;
background-color: #444444;
	}	
	
#bottle_div{
visibility:hidden;
position: absolute;
top: 0px;
left: 0px;
width: 480px;
height: 320px;
	opacity:0.8;
background-color: #444444;
	color:#f0ff00;
	text-align:center;
	}	
	
	#milk_div{
visibility:hidden;
position: absolute;
top: 0px;
left: 0px;
width: 480px;
height: 320px;
	opacity:0.8;
background-color: #444444;
	color:#f0ff00;
	text-align:center;
	}	
	
	#plastic_div{
visibility:hidden;
position: absolute;
top: 0px;
left: 0px;
width: 480px;
height: 320px;
	opacity:0.8;
background-color: #444444;
	color:#f0ff00;
	text-align:center;
	}	
	
	#nylon_div{
visibility:hidden;
position: absolute;
top: 0px;
left: 0px;
width: 480px;
height: 320px;
	opacity:0.8;
background-color: #444444;	
	color:#f0ff00;
	text-align:center;
	}	
	
	
	
	
	img.end_reset{
		position: absolute;
	top: 270px;
	left: 215px;

	
	}